<!-- <div id="list-pane" class="pane">			
        <div class="list_header">
            <form id="bookmarkAddForm">
                <input id="inputDesc" type="text" required/>
                <input id="inputUrl" type="url" required
                    oninvalid="this.setCustomValidity('Should start with http://')"
                    oninput="setCustomValidity('')"  />
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="submit" value="Add New Bookmark"/>
            </form>			
        </div>
        <div class="list_content">
            <table>
            </table>
        </div>		
</div> -->