<div class="folders-bar" (mouseenter)="showControls=true" (mouseleave)="showControls=false">
    <div class="folder-name" (click)="loadBookmarks()">
        <p *ngIf="!isEditMode">{{folder.name}}</p>
        <input *ngIf="isEditMode" [(ngModel)]="folder.name" placeholder="name"/>
        <button *ngIf="isEditMode" (click)="acceptEdit()">OK</button>
    </div>
    <div *ngIf="showControls && !isEditMode" class="folder-controls">
        <button (click)="onAdd()">Add</button>
        <button (click)="onEdit()">Edit</button>
        <button (click)="onDelete(folder)">Delete</button>        
    </div>
</div>