<div class="folders-bar" (mouseenter)="showControls=true" (mouseleave)="showControls=false">
    <div class="folder-name" (click)="loadBookmarks()">
        <p *ngIf="!isEditMode">{{folder.name}}</p>
        <input *ngIf="isEditMode" value="{{folder.name}}" />
        <button *ngIf="isEditMode" (click)="acceptEdit()">OK</button>
    </div>
    <div *ngIf="showControls" class="folder-controls">
        <button *ngIf="!isEditMode" (click)="onEdit()">Edit</button>
        <button *ngIf="!isEditMode">Delete</button>        
    </div>
</div>